<nav class="navbar navbar-expand-sm navCustom">
    <div class="container-fluid">
        <a href="#" class="navbar-brand ctext-color">Sanghvi</a>
        <div class="inline">
            <ul class="navbar-nav">
                <!-- Remove this Bad code Temp Solution Until Communication api is implemented -->
                <li class="nav-item" *ngIf="isAdmin">
                    <div class="nav-link ctext-color" (click)="viewMachines('repaired')">Repaired Machines</div>
                </li>
                <li class="nav-item" *ngIf="isAdmin">
                    <div class="nav-link ctext-color" (click)="viewMachines('repaired_today')">Repaired Today Machines</div>
                </li>
                <li class="nav-item" *ngIf="isAdmin">
                    <div class="nav-link ctext-color" (click)="viewMachines('delivered')">Delivered Machines</div>
                </li>
                <li class="nav-item" *ngIf="isAdmin">
                    <div class="nav-link ctext-color" (click)="viewMachines('received')">Received Machines</div>
                </li>
                <!-- End of Bad Code -->
                <li class="nav-item">
                    <div class="nav-link ctext-color" (click)="logout()" >Logout</div>
                </li>
            </ul>
        </div>
    </div>
</nav>