<nav class="navbar navbar-expand-sm navCustom">
    <div class="container-fluid">
        <a href="#" class="navbar-brand ctext-color">Sanghvi</a>
        <div class="inline">
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link ctext-color">View Sales</a>
                </li> -->
                <li class="nav-item">
                    <div class="nav-link ctext-color" (click)="logout()" >Logout</div>
                </li>
            </ul>
        </div>
    </div>
</nav>