<div class="container">
    <div class="body-content" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center">
            <div class="body-content-title" fxLayoutAlign="center">
                {{formConstants.RR_DIALOG_DISCOUNT}}
            </div>
        </div>
        <div fxLayout="row" fxFlex="86%">
            <div class="body-content-main" fxLayout="column" fxFlex="100%" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="5px" fxFlex="50%">
                    <label fxLayoutAlign="center center">Discount&nbsp;:&nbsp;</label>
                    <input type="number" fxFlex="60">&nbsp;&nbsp;%
                </div>

                <div fxLayout="row" fxLayoutGap="5px" fxFlex="50%">
                    <label fxLayoutAlign="end center" fxFlex="28.5">Reason&nbsp;:&nbsp;</label>
                    <input type="number" fxFlex="60">
                </div>
            </div>
        </div>
    </div>
</div>